.about-container h1 {
  font-size: 60px;
}

.about-item li {
  text-align: left;
  list-style: none;
}
.about-item li span {
  color: rgb(94, 164, 245);
}

.about-item li button {
  text-align: left;
}
