.banner-container {
  background-image: url("https://i.imgur.com/uUYdFf6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 250px 0;
}

.banner-container h1 {
  font-size: 40px;
  color: white;
  margin-top: 20px;
}
